@media screen and (width: 3200px){
    body {
        display: flex;
        align-items: center;
        width:100vw;
        height: 100vh;
    }
    .economics-content{
        width: 622px;
        height: 642px;
        background: url("../assets/imgs/em_bg_2.png");
        
    }
    .grid{
        width: 1367px;
        height: 835px;
        background: url("../assets/imgs/grid_2.png");
    }
    .map{
        width: 767px;
        height: 715px;
        background: url("../assets/imgs/map_2.png");
        
    }
    #app .page-header{
        top: -8%;
    }
}
@media screen and (width: 3840px) {
    body {
        display: flex;
        align-items: center;
        width:100vw;
        height: 100vh;
    }
    .economics-content{
        width: 746px;
        height: 771px;
        background: url("../assets/imgs/em_bg_1.png");
    }
    .grid{
        width: 1641px;
        height: 1002px;
        background: url("../assets/imgs/grid_1.png");
    }
    .map{
        width: 731px;
        height: 820px;
        background: url("../assets/imgs/map_1.png");
    }
}